@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #EADFDB, #D8C2B5, #AEAFB1);
}
main {
    background-color: whitesmoke;
    border-radius: 15px;  /* arredonda as bordas */
    box-shadow: 5px 5px 15px #898a8be0 ; /* sombra doa caixa de texto */
    width: 750px; 
    padding: 12px;  /* espaça os textos da margem */
    margin: auto;  /* centraliza o conteúdo automaticamente */
}
h1 {
    color: #F2CFB3;
    text-align: center;
}
h2 {
    color: #C0C4B6;
}
p {
    text-align: justify;
}

